<h2><%= @link.title %></h2>
<br>
<%= link_to @link.url, @link.url %>
<br>
<%= @link.body %>
<br>

<%= button_to "&uarr;".html_safe, upvote_link_url(@link), class: "btn btn-success" %>
<%= button_to "&darr;".html_safe, downvote_link_url(@link), class: "btn btn-warning" %>


<br>
<br>
<% if current_user == @link.user %>
<%= link_to "Edit Link", edit_link_url(@link)%>
<%= button_to "Remove Link", link_url(@link), :method => :delete %>
<% end %>
<%= link_to "Back to Subs", subs_url %>



<h3>COMMENTS </h3>

<% if @parent_comments %>
<% @parent_comments.each do |comment| %>
<%= render 'comment', :comment => comment,
                      :comment_hash => @comment_hash %>

<% end %>
<% end%>


<h4> Add Comment </h4>

<form action="<%= link_comments_url(@link)%>" method="post" >
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>" id="authenticity_token">

  <label for="comment">Comment</label>
  <input type="text" name="comment[body]" value="" id="comment">



  <input type="submit" value="Add Comment">
</form>