<h3> Make New Sub </h3>


<form action="<%= subs_url %>" method="post" accept-charset="utf-8">

  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" id="authenticity_token">

  <label for="name">Name</label>
  <input type="text" name="sub[name]" value="<%= @sub.name %>" id="name">
  <br>

  <% @sub.links.each_with_index do |link, i| %>
    <label for="title">Title</label>
    <input type="text" name="links[<%= i %>][title]"
           value="<%= link.title %>" id="title">

    <label for="url">URL</label>
    <input type="text" name="links[<%= i %>][url]" value="" id="url">

    <label for="body">Body</label>
    <input type="text" name="links[<%= i %>][body]" value="" id="body"><br>
  <% end %>

  <p><input type="submit" value="Create Sub"></p>
</form>


<%= link_to "Nevermind", subs_url %>